body {
  background-color: ivory;
  color: darkblue;
  font-family: "Open Sans", sans-serif;
  margin: 10px 50px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 10px 0 20px;
  padding: 0;
}

nav a {
  color: blue;
}

#introduction {
  width: 100%;
  margin-bottom: 40px;
}

.browser-sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.browser-sections section {
  width: 300px;
}

.browser-sections img {
  float: left;
  width: 100px;
  margin: 0 10px 5px 0;
}